  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>
          <%= t('.copyright', :year => Time.now.year,
          :site_name => Refinery::Core.site_name) %>
        </p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="/system/resources/W1siZiIsIjIwMTQvMTIvMTkvMTkvNTIvNDgvOTU2L0xpbmRzZXlDYW1wYmVsbF9SZXN1bWUucGRmIl1d/LindseyCampbell-Resume.pdf" title="Lindsey Campbell Resume">Resume (.pdf, 116 KB)</a>
          <li><a href="https://github.com/lindseytron" title="Lindsey on GitHub">GitHub</a></li>
          <li><a href="https://twitter.com/lindsey_tron" title="Lindsey on twitter">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>