/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */
 #logo a {
  background-color: rgb(75, 174, 156);
  color: white;
  padding: 5px 10px;
 }
 header {
  border-bottom: 10px solid rgb(75, 174, 156);
 }
 .introduction {
  padding: 20px 0;
  margin-bottom: 30px;
 }
 .introduction h1.subheader {
  color: rgb(75, 174, 156);
 }
 .subheader {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
 }
 .selfie {
  padding-top: 20px;
  max-width: 550px;
 }
a {
  border-bottom: 1px dotted;
}
#logo a {
  border-bottom: none;
}
#main-content {
  padding-top: 30px;
}